<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">EDC</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        @* <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="authtest">
                <span class="bi bi-shield-lock-nav-menu" aria-hidden="true"></span> Auth Test
            </NavLink>
        </div> *@

        <AuthorizeView>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="MicrosoftIdentity/Account/SignIn">
                        <span class="bi bi-box-arrow-in-right-nav-menu" aria-hidden="true"></span> Sign In
                    </NavLink>
                </div>
            </NotAuthorized>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="trials">
                        <span class="bi bi-clipboard2-pulse" aria-hidden="true"></span> Trials
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="subjects">
                        <span class="bi bi-people-fill" aria-hidden="true"></span> Subjects
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="visits">
                        <span class="bi bi-journal-medical" aria-hidden="true"></span> Visits
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="crfs">
                        <span class="bi bi-file-earmark-text" aria-hidden="true"></span> Case Report Forms
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="MicrosoftIdentity/Account/SignOut">
                        <span class="bi bi-box-arrow-in-left-nav-menu" aria-hidden="true"></span> Sign Out
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>
